{% extends "admintemplate.html" %}

{% block title %}Edit Category{% endblock %}

{% block content %}

<div class="container">
	<form class="form-horizontal" action="{{ url_for('admin.editcategory') }}" method="post">
		{% for item in rows %}
		<input type="hidden" name="id" value="{{ item[0] }}">
		<h2 class="form-signin-heading">Case Number: {{ item[1] }}</h2>
		<h3>Case Title: {{ item[2] }}</h3>
		<h3>Nature: {{ item[3] }}</h3>
		<h3>Current Case Category: {{ item[18] }}</h3>
		<select name="c_category" class="form-control" placeholder="Case Category">
			<option value ="">--Category--</option>
			<option value ="1">Civil Case</option>
			<option value ="2">Criminal Case</option>
			<option value ="3">Children In Conflict with the Law (CICL)</option>
		</select>
		{% endfor %}
		<br>
		<input class="btn btn-warning" type="submit" name="change_cat" value="Change Category"/>
	</form>
	<br>
	<em>
		<strong>Legend:</strong><br>
		<label>1 - Civil Case</label><br>
		<label>2 - Criminal Case</label><br>
		<label>3 - Children in Conflict of the Law (CICL)</label>
	</em>
</div>

{% endblock %}