{% extends "viewstemplate.html" %}

{% block title %}All Records{% endblock %}

{% block content %}

<div class="table table-responsive">
	<table class="table table-hover table table-bordered">
		<thead>
			<tr>
				<th style="width: auto">No.</th>
				<th style="width: auto">Case No.</th>
				<th style="width: auto">Title</th>
				<th style="width: auto">Nature</th>
				<th style="width: auto">Age</th>
				<th style="width: auto">Case Option</th>
			</tr>
		</thead>
		<tbody>
			{% for item in row %}
			<input type="hidden" name="case_id" value="{{ item['case_id'] }}">
			<tr>
				<td></td>
				<td>{{ item['case_no'] }}</td>
				<td>{{ item['case_title'] }}</td>
				<td>{{ item['case_nature'] }}</td>
				<td>{{ item['age'] }} year/s</td>
				<td>
					<a class="btn btn-light" href="{{ url_for('views.profile', id = item['case_id']) }}" role="button">View Profile</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}