{% extends "admintemplate.html" %}

{% block title %}Edit Category{% endblock %}

{% block content %}

<div class="container">
	<form class="form-horizontal" action="{{ url_for('admin.editsubcategory') }}" method="post">
		{% for item in rows %}
		<input type="hidden" name="id" value="{{ item[0] }}">
		<h2 class="form-signin-heading">Case Number: {{ item[1] }}</h2>
		<h3>Case Title: {{ item[2] }}</h3>
		<h3>Nature: {{ item[3] }}</h3>
		<h3>Current Case Subcategory: {{ item[19] }}</h3>
		<select name="c_subcategory" class="form-control" placeholder="Case Category">
			<option value ="">--Subcategory--</option>
			<option value ="1">RA 9262 - Violence Against Women and Children</option>
			<option value ="2">RA 9165 - Drugs (Involving Minors)</option>
			<option value ="3">RAPE (With Minor Victim and/or Accused)</option>
			<option value ="4">RA 7610 - Child Abuse</option>
			<option value ="5">RA 9208 - Human Trafficking (Involving Minors)</option>
			<option value ="6">Other Criminal Cases</option>
			<option value ="7">Declaration of Nullity/Annulment of Marriage</option>
			<option value ="8">Legal Separation</option>
			<option value ="9">Adoption</option>
			<option value ="10">Petition for Protection Order</option>
			<option value ="11">Guardianship</option>
			<option value ="12">Custody of Minor</option>
			<option value ="13">Other Civil Cases</option>
		</select>
		{% endfor %}
		<br>
		<input class="btn btn-warning" type="submit" name="change_subcat" value="Change Subcategory"/>
	</form>
	<br>
	<em>
		<strong>Legend:</strong><br>
		<label>1 - RA 9262 - Violence Against Women and Children</label>
		<label>2 - RA 9165 - Drugs (Involving Minors)</label>
		<label>3 - RAPE (With Minor Victim and/or Accused)</label>
		<label>4 - RA 7610 - Child Abuse</label>
		<label>5 - RA 9208 - Human Trafficking (Involving Minors)</label>
		<label>6 - Other Criminal Cases</label>
		<label>7 - Declaration of Nullity/Annulment of Marriage</label>
		<label>8 - Legal Separation</label>
		<label>9 - Adoption</label>
		<label>10 - Petition for Protection Order</label>
		<label>11 - Guardianship</label>
		<label>12 - Custody of Minor</label>
		<label>13 - Other Civil Cases</label>
	</em>
</div>

{% endblock %}