<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename = 'img/logo.png') }}"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('index') }}">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Records
						</a>						
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ url_for('views.view_records') }}">View All Cases</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Case Report
						</a>						
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ url_for('reports.report_cicl') }}" target="_blank">CICL Case</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_civil') }}" target="_blank">Civil Case</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_annulment') }}" target="_blank">Annulment</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_legal') }}" target="_blank">Legal Separation</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_adoption') }}" target="_blank">Adoption</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_protection') }}" target="_blank">Protection Order</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_guardianship') }}" target="_blank">Guardianship</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_custody') }}" target="_blank">Custody</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_othercivil') }}" target="_blank">Other Civil Case</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_criminal') }}" target="_blank">Criminal Case</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_9262') }}" target="_blank">Vawc</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_9165') }}" target="_blank">Drugs</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_rape') }}" target="_blank">Rape</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_7610') }}" target="_blank">Child Abuse</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_9208') }}" target="_blank">Human Trafficking</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_othercriminal') }}" target="_blank">Other Criminal Case</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Status Report
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ url_for('reports.report_archived') }}" target="_blank">Archived</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_arraignment') }}" target="_blank">Arraignment and Pretrial</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_decided') }}" target="_blank">Decided</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_dismissed') }}" target="_blank">Dismissed</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_mediation') }}" target="_blank">Mediation</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_new') }}" target="_blank">Newly Raffled</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_defense') }}" target="_blank">Defense's Evidence</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_prosecution') }}" target="_blank">Prosecution's Evidence</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_probation') }}" target="_blank">Probation</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_provisional') }}" target="_blank">Provisionally Dismissed</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_submitted') }}" target="_blank">Submitted for Decision</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_susproc') }}" target="_blank">Suspended Proceedings</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_susjudge') }}" target="_blank">Suspended Judgement</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Case Ageing
						</a>						
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_0year') }}" target="_blank">Less than 1 year</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_1year') }}" target="_blank">1 to 2 years</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_2years') }}" target="_blank">2 to 3 years</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_3years') }}" target="_blank">3 to 4 years</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_4years') }}" target="_blank">4 to 5 years</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_5years') }}" target="_blank">5 to 6 years</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_6years') }}" target="_blank">6 to 7 years</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_7years') }}" target="_blank">7 to 8 years</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_8years') }}" target="_blank">8 to 9 years</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_9years') }}" target="_blank">9 to 10 years</a>
							<a class="dropdown-item" href="{{ url_for('reports.report_ageing_10years_up') }}" target="_blank">More than 10 years</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Counting of Active Cases
						</a>						
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ url_for('reports.count_civil') }}" target="_blank">Civil Cases</a>
							<a class="dropdown-item" href="{{ url_for('reports.count_criminal') }}" target="_blank">Criminal Cases</a>
							<a class="dropdown-item" href="{{ url_for('reports.count_cicl') }}" target="_blank">CICL Cases</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('filestore.dir') }}">PDF Library</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0" action="{{ url_for('filestore.searchfile') }}" method="POST">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
					<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
		{% block content %}{% endblock %}
		<p align="center">RTC Br. 1 Family Court Baler, Aurora &copy; 2020 All rights reserved</p>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>